.outfit-uniquifier {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.young-serif-regular {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
  }

body{
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: hsl(30, 54%, 90%);
}
.conteiner{
    background-color: white;
    width: 600px;
    margin: 50px auto;
    border-radius: 20px;
    padding: 30px;
    font-family: "Outfit", sans-serif;
}

.header img{
    border-radius: 15px;
    width: 100%;
}

h1, h2 {
    font-family: "Young Serif", serif;
}

.preparationTime{
    background-color: hsl(330, 100%, 98%);
    border-radius: 10px;
    padding: 8px;
}